hostname "getDRAFTED {{ server_region }} @ ragetroops.eu"
sv_password "{{ connect_password }}"
rcon_password "{{ rcon_password }}"

sv_pure 2
sv_lan 0
sv_cheats 0
sv_alltalk 0
sv_gravity 600
sv_minrate 150000
sv_maxrate 0
sv_maxcmdrate 66
sv_mincmdrate 50
sv_maxupdaterate 66
sv_minupdaterate 50

sv_pausable 0

mp_startdelay 60
mp_timelimit 20
mp_rounds 10
mp_friendlyfire 1
mp_autoteambalance 0

mp_allowvoting 1
mp_allowvoting_map 1
mp_allowvoting_balanceteams 1
mp_allowvoting_maprestart 1
mp_allowvoting_kick 1
mp_allowvoting_ban 1
mp_votepct 100
mp_votekick_bantime 60
sv_idlekick 0

mp_scalespawntime 0
mp_allowvoting_stopwatch 1
mp_punishvotes 0
mp_stopwatch 1


sv_allowdownload 1
net_maxfilesize 64
sv_allowupload 1
sv_downloadurl "http://dys.fastdl.ragetroops.eu"

tv_enable 1
tv_name "getDRAFTED TV"
tv_autorecord 1
tv_maxclients 0
tv_transmitall 1